{% extends 'base.html' %}
{% block title %} Password reset {% endblock title %}


{% block content %}
<h1>Password reset complete </h1>
<p>You can log now <a href=' {%  url 'login' %} '>Log In Page</a></p>

{% endblock content %}