{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Password Change {% endblock title %}

<h1>Password Change </h1>
<p> Please enter your old password , and then enter new </p>


{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ form|crispy}}
    <button class="btn btn-success" type="submit">Change my password</button>
</form>
{% endblock content %}