{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Forget you password? {% endblock title %}


{% block content %}
<h1>Forget you password </h1>
<p> Please Enter Your email </p>
<form method="POST">
    {% csrf_token %}
    {{ form|crispy}}
    <input type="submit"  value="Send me instructions" class="btn btn-success">
</form>
{% endblock content %}